<main class="container-fluid  position-absolute w-100 theme p-3 d-flex justify-content-between align-items-center">
  <p class="crimson h5">port<span class="gold">folio.</span></p>
  <div class="d-md-flex d-none">
    <a href="#home" mat-button class="crimson">Home</a>
    <a href="#about" mat-button class="crimson">About</a>
    <a href="#skills" mat-button class="crimson">Skills</a>
    <a href="#works" mat-button class="crimson">Works</a>
    <a href="#experience" mat-button class="crimson">Experience</a>
    <a href="#contact" mat-button class="crimson">Contact Me</a>
</div>
</main>
