<div class="container" id="about">
    <div class="row">
        <div class="col p-5">
            <p class="display-6" id="title">About</p>
            <mat-icon class="arrow" id="arrow">trending_flat</mat-icon>
            <p>
                My name is Arvind Prajapati. I am full stack MEAN (MongoDb,ExpressJs, Angular,Nodejs) Web Developer.
                I have been Developing Websites since past 2+ year .I have 2 years of experience in Angular. 
                I also work with Php for backend and Mysql as Database.
                I am a self learnt Developer and very much passionate about my career in Web development.
                Along with development Currently I am pursuing my bachelor's Degree in technology (Btech) in computer science Engineering. (2019-2023)
            </p>    
        </div>
    </div>
</div>