<div class="container p-5" id="experience">
  <div class="row">
    <div class="col">
        <p class="display-6" id="title">Experience</p>
        <mat-icon class="arrow" id="arrow">trending_flat</mat-icon>
    </div>
  </div>

  <div class="row p-3">
     <div class="col-md-5 mt-3 mat-elevation-z2 p-3 bg-white m-auto">
        <table>
            <tr>
                <td>
                    <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQH_f4oMMPhmGQ/company-logo_200_200/0/1561966256374?e=2147483647&v=beta&t=O-z2OUatuElDjZQw_FpJpXG_AU9Dpix4-dbB4zZuLfM" alt="">
                </td>
                <td>
                    <div class="about p-3">
                        <b>Angular Developer</b>
                        <p>Frshr Technologies - Internship</p>
                        <small>Nov 2021 - May 2022  6 mon</small><br>
                        <small>Bengaluru, Karnataka, India</small>
                    </div>
                </td>
            </tr>
        </table>
     </div>
     <div class="col-md-5 mt-3 mat-elevation-z2 p-3 bg-white m-auto">
        <table>
            <tr>
                <td>
                    <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQE1XdOdVqxPPg/company-logo_200_200/0/1594301977176?e=2147483647&v=beta&t=gombZD3Nz2eZ69DixeLwuESQoX2NsR_RrFWKl7Q1isA" alt="">
                </td>
                <td>
                    <div class="about p-3">
                        <b>Web Developer</b>
                        <p>Yash Sewa Samiti - Internship</p>
                        <small>Nov 2020 - Dec 2021  2 mon</small><br>
                        <small>New Delhi, Delhi, India</small>
                    </div>
                </td>
            </tr>
        </table>    
     </div>
  </div>

  <div class="row p-3">
    <div class="col-md-5 mt-3 mat-elevation-z2 p-3 bg-white m-auto">
       <table>
           <tr>
               <td>
                   <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQErVAZuucYCDw/company-logo_200_200/0/1645085225001?e=2147483647&v=beta&t=L-iV-O1YWeTvOJJkOacRiRW7AGlkSXjY4NdTUCxyXeM" alt="">
               </td>
               <td>
                   <div class="about p-3">
                       <b>Campus Ambasador</b>
                       <p>International MUN - Internship</p>
                       <small>Jan 2021 - Jan 2021  15 Days</small><br>
                       <small>Remote</small>
                   </div>
               </td>
           </tr>
       </table>
    </div>

    <div class="col-md-5 mt-3 mat-elevation-z2 p-3 bg-white m-auto">
        <table>
            <tr>
                <td>
                    <img src="https://i.pinimg.com/originals/f2/e8/d8/f2e8d8780cc1aa8129c053bbf7a612ed.png" alt="">
                </td>
                <td>
                    <div class="about p-3">
                        <b>Web Developer</b>
                        <p>Self Employed </p>
                        <small>From Nov 2020 - Present</small><br>
                        <small>Sweet Home</small>
                    </div>
                </td>
            </tr>
        </table>
     </div>
 </div>
</div>
