img{
    width:90px;
}
.arrow{
    transform-origin: left;
    font-size: 25px;
    transform: scaleX(2);
    transition: all .3s ease;
}
#title:hover ~ #arrow{
    transform: scaleX(4.4);
}
.col-md-5{
    transition: all .3s ease;
}
.col-md-5:hover{
    transform: scale(1.02);
}