<div class="container-fluid h-100 landing d-md-block d-flex" id="home">
  <div class="row">
    <div class="col-md-6  d-flex order-md-2  justify-content-center align-items-center imgdiv">
      <img src="assets/my.jpeg" class="img">
  </div>
    <div class="col-md-6  d-flex order-md-1  justify-content-center align-items-center mydiv">
      <div>
          <p class="display-4 text-white">Hello , I'm </p>
          <p class="display-4 crimson">Arvind Kumar</p>
          <p class="display-6 gold">Full Stack Developer</p>
          <app-social></app-social>
          <div class="mt-4 text-white">
            <mat-icon class="arrow">trending_flat</mat-icon>
          </div>
        </div>        
      </div>
  </div>
</div>