<div class="container" id="skills">
    <div class="row">
        <div class="col p-5">
            <p class="display-6" id="title">Skills</p>
            <mat-icon class="arrow" id="arrow">trending_flat</mat-icon>
            <div class="row gx-4">
                <div class="col mat-elevation-z1 p-5 text-white theme">
                    <p class="crimson mb-2">Frontend</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Vanila Javascript</li>
                        <li>Angular</li>
                        <li>ReactJs</li>
                        <li>Ionic</li>
                        <li>React Native</li>
                    </ul>
                </div>
                <div class="col mat-elevation-z1 p-5 text-white theme">
                    <p class="crimson mb-2">Backend</p>
                    <ul>
                        <li>Php</li>
                        <li>NodeJs</li>
                    </ul>
                </div>
                <div class="col mat-elevation-z1 p-5 text-white theme">
                    <p class="crimson mb-2">Database</p>
                    <ul>
                        <li>MySql</li>
                        <li>Mongodb</li>
                    </ul>
                </div>
                <div class="col mat-elevation-z1 p-5 text-white theme">
                    <p class="crimson mb-2">Other Skills</p>
                    <ul>
                        <li>Git</li>
                        <li>Github</li>
                        <li>Java</li>
                        <li>C Language</li>
                        <li>Python</li>
                        <li>Data Analysis</li>
                        <li>ML & AI</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>